.bg-dark {
  background-color: #292929 !important;
}

.navbar img {
  width: 100px;
}

.navbar a {
  color: white !important;
}

.navbar a:hover {
  color: orange !important;
}
.tamanho-nav{
  width: 100%;
}
.dropdown-menu li a:hover {
  color: orange;
  background-color: #292929;
}

p {
  text-align: justify;
  width: 1em;
  height: 1em;

}
.tamanho-item a{
  width: 100%;
}

.btn-outline-success {
  border: solid orange 1px;
  color: orange !important;
}

.btn-outline-success:hover {
  background-color: orange;
  color: #292929 !important;
  border: solid #393a47 1px !important;
}

.grid {
  display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10em 0 3em 0;
    height: 15%;
    width: 100%;
    box-shadow: 3px 0px 37px white;
    padding: 32px;
}
.tamanho-lista{
  width: 80%;
}
.divIframe {

  width: 500px;
  height: 300px;
  margin: 10px;
  
  
}

.titulo{
  text-shadow: orange 1px 2px 13px;
  margin-top: 1em;
  color: white;
  text-align: center;
  width: 100%;
  
}

.texto {

  width: 400px;
  height: 100%;
  margin: 10px;
  

}
.conteudo p{
  height: 100%;
  width: 100%;
  color: white;
}
.conteudo{
  height: 80%;
}

body {
  background-color: black;
  width: 100%;
  height: 100%;
  
}

iframe {
  background-color: white;
  border-radius: 15px;
  box-shadow: white 1px 3px 3px;
  height: 100%;
  width: 100%;
}

.img-pag {
  margin-top: 2em;
  width: 100%;
  height: 100%;
}

.formulario form {
  padding-top: 1em;
  background-color: #292929;
  width: 20em;
  height: 17em;
  text-align: center;
  margin: auto;
  border: orange solid 1px;
  border-radius: 15px;
  box-shadow: orange 1px 2px 13px;
  margin-bottom: 12%;
}

.formulario {
  margin-top: 2em;
}

.enviar {
  margin-top: 1em;
  width: 6em;
  height: 2em;
}

.tamanho-img {
  width: 500px;
  height: 300px;
  margin: 10px;

}
@media (max-width: 768px) {
  .box {
    width: 100%;
  }
}
.tamanho-img img{

  height: 100%;
  width: 100%;
  border-radius: 15px;
  box-shadow: white 1px 2px 3px;
}

.input-num {
  margin-top: 4em;
}

input {
  border-radius: 15px;
}

.subtitulo h2 {
  text-align: left;
  text-shadow: orange 1px 2px 13px;
  width: 100%;
  height: 100%;
  color: white;
}
.subtitulo{
  width: 100%;
  height: 3em;
}


.grid-sobre {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  margin-top: 8%;
  
}

.elementos{
  margin-top: 12em;
}
